*{
background-color: #fefdfe;
}

.parent-wrapper{
  cursor: pointer;
}
.select-dropdown-icon{
  margin: 10px;
  color: brown;
}
.profile-icon{
  margin:0px 15px 0px -5px;
}

.circle-icon{
  color: brown;
}
.profile-icon-child{
  margin: 0px 15px 0px 5px;
}





