*{
background-color: aquamarine;
}

/* .select-label-heading{
  margin-right: 10px;
  margin-left: 5px;
  color: red;
  font-weight: 600;
} */
.parent-wrapper{
  cursor: pointer;
}
.select-dropdown-icon{
  margin: 10px;
  color: brown;
}
.profile-icon{
  margin:0px 15px 0px -5px;
}

.circle-icon{
  color: brown;
}
.profile-icon-child{
  margin: 0px 15px 0px 5px;
}





